<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown open">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-table"></i>
                    </span>
                    <span class="title">Sinh Viên</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="active">
                        <a href="@Url.Action("ViewKhoa","Khoa")">Danh sách Khoa</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ViewCTDT","CTDT")">Danh sách Chương trình đào tạo</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ViewLop","Lop")">Danh sách Lớp</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
