@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<a href="#" onclick="document.getElementById('externalLoginForm').submit();" class="nav-link" style="text-decoration: none; color: white; font-size: 1.7rem;">
    <i class="fa-solid fa-user" style="padding-right: 10px; font-size:2rem;"></i>Đăng nhập với Google
</a>

<form id="externalLoginForm" action="@Url.Action("ExternalLogin", "Login")" method="post" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()
    <input type="hidden" name="provider" value="Google" />
</form>
