<header class="d-flex bd-highlight">
    <div class="container d-flex align-items-center justify-content-between">
        <div id="logo p-2 bd-highlight">
            <a href="#" class="the-a-full">
                <img style="height: 100px;" class="img-fluid" src="~/Style/user_2/images/logo_tdmu.png">
            </a>
        </div>
        <form action="#" id="search-box">
            <input type="text" id="search-text" placeholder="Bạn muốn tìm gì ?" required />
            <button id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</header>
