@{
    ViewBag.Title = "Answer phiếu khảo sát - TDMU";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="page-header">
        <h2 class="header-title" style="text-align:center;">Kết quả khảo sát</h2>
    </div>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary btn-tone m-r-5" style="margin-bottom: 15px;" onclick="window.location.href='/Admin/PhieuKhaoSat/KetQuaPKS?id=@ViewBag.IDPhieu'">Quay trở về</button>
            <div id="surveyContainer" class="table-responsive"></div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var id = @ViewBag.id;
        $.ajax({
            url: '/Survey/AnswerSurvey/' + id,
            type: 'GET',
            success: function (data) {
                renderSurveyData(data);
            },
            error: function () {
            }
        });
    });

    function renderSurveyData(data) {
        var tableHtml = '<table class="table table-bordered">\n';
        tableHtml += '<thead>\n';
        tableHtml += '<tr>\n';
        tableHtml += '<th scope="col">#</th>\n';
        tableHtml += '<th scope="col">Câu hỏi</th>\n';
        tableHtml += '<th scope="col">Câu trả lời</th>\n';
        tableHtml += '</tr>\n';
        tableHtml += '</thead>\n';
        tableHtml += '<tbody>\n';

        var index = 1;
        var pages = data[0].pages;
        pages.forEach(function (page) {
            var elements = page.elements;
            elements.forEach(function (element) {
                tableHtml += '<tr>\n';
                tableHtml += '<th scope="row">' + index + '</th>\n';
                tableHtml += '<td>' + element.title + '</td>\n';
                if (element.type === "text") {
                    var textValue = element.response ? element.response.text : "";
                    tableHtml += '<td><b>' + textValue + '</b></td>\n';
                } else if (element.type === "radiogroup") {
                    var radioValue = element.response ? element.response.text : "";
                    tableHtml += '<td> <b>' + radioValue + '</b></td>\n';
                } else {
                    tableHtml += '<td></td>\n';
                }

                tableHtml += '</tr>\n';
                index++;
            });
        });

        tableHtml += '</tbody>\n';
        tableHtml += '</table>\n';

        $('#surveyContainer').html(tableHtml);
    }
</script>
