@{
    ViewBag.Title = "Thống kê đối tượng thực hiện khảo sát - TDMU";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Thống kê đối tượng thực hiện khảo sát</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <span class="breadcrumb-item active">Danh sách đối tượng thực hiện khảo sát</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4>Danh sách đối tượng thực hiện khảo sát</h4>
            <div class="col-sm-10" style="margin-top: 10px;">
                <select id="MaCTDT" class="form-control">
                    <option value="0">Tất cả</option>
                    @foreach (var item in ViewBag.CTDTList)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="col-sm-10" style="margin-top: 10px;">
                <select id="MaPKS" class="form-control">
                    <option value="0">Tất cả</option>
                    @foreach (var item in ViewBag.PKSList)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="col-sm-10" style="margin-top: 10px;">
                <select id="SurveyStatus" class="form-control">
                    <option value="0">Chưa khảo sát</option>
                    <option value="1">Đã khảo sát</option>
                </select>
            </div>
            <div class="col-sm-10" style="margin-top: 10px;">
                <button type="button" class="btn btn-info btn-tone m-r-5" id="FilterSV">Tìm kiếm</button>
                <button type="button" class="btn btn-success btn-tone m-r-5" id="ExportExcel">Xuất Excel</button>
            </div>
            <div id="data-table-section" class="m-t-25" style="display: none;">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead id="table-header">
                            <!-- Header will be updated dynamically based on the data -->
                        </thead>
                        <tbody id="showdata">
                            <!-- Data will be appended here by the script -->
                        </tbody>
                    </table>
                </div>
                <div id="pagination" class="m-t-15 pagination-right">
                    <!-- Pagination buttons will be inserted here -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    var currentPage = 1;
    var totalPages = 0;

    $(document).ready(function () {
        $("#FilterSV").click(function () {
            var selectCtdt = $("#MaCTDT").val();
            var selectPks = $("#MaPKS").val();
            var surveyStatus = $("#SurveyStatus").val();
            LoadData(1, selectCtdt, selectPks, surveyStatus);
        });

        $("#ExportExcel").click(function () {
            Swal.fire({
                title: "Đang kiểm tra và xuất dữ liệu...",
                html: "Vui lòng chờ trong <b></b> giây.",
                timer: 3000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading();
                    const timer = Swal.getHtmlContainer().querySelector("b");
                    timerInterval = setInterval(() => {
                        timer.textContent = `${Swal.getTimerLeft()}`;
                    }, 100);
                },
                willClose: () => {
                    clearInterval(timerInterval);
                }
            }).then((result) => {
                if (result.dismiss === Swal.DismissReason.timer) {
                    var selectCtdt = $("#MaCTDT").val();
                    var selectPks = $("#MaPKS").val();
                    var surveyStatus = $("#SurveyStatus").val();

                    $.ajax({
                        url: '/Admin/ThongKeKhaoSat/ExportToExcel',
                        type: 'GET',
                        data: {
                            ctdt: selectCtdt,
                            survey: selectPks,
                            completed: (surveyStatus == "1")
                        },
                        success: function (response) {
                            if (response.data === null) {
                                Swal.fire({
                                    title: 'Thông báo',
                                    text: response.message,
                                    icon: 'info',
                                    confirmButtonText: 'OK'
                                });
                            } else {
                                window.location = '/Admin/ThongKeKhaoSat/ExportToExcel?ctdt=' + selectCtdt + '&survey=' + selectPks + '&completed=' + (surveyStatus == "1");
                            }
                        }
                    });
                }
            });
        });

        $(document).on("click", ".page-link", function () {
            var page = $(this).data("page");
            if (page > 0 && page <= totalPages) {
                currentPage = page;
                var selectCtdt = $("#MaCTDT").val();
                var selectPks = $("#MaPKS").val();
                var surveyStatus = $("#SurveyStatus").val();
                LoadData(currentPage, selectCtdt, selectPks, surveyStatus);
            }
        });
    });

    function LoadData(pageNumber, ctdt, survey, completed) {
        $.ajax({
            url: '/Admin/ThongKeKhaoSat/LoadSVChuaKhaoSat',
            type: 'GET',
            data: {
                pageNumber: pageNumber,
                pageSize: 10,
                ctdt: ctdt,
                survey: survey,
                completed: completed == "1"
            },
            success: function (res) {
                var items = res.data;
                totalPages = res.totalPages;
                var html = "";

                if (items == null || items.length === 0) {
                    html += "<tr><td colspan='7' class='text-center'>Không có dữ liệu</td></tr>";
                    $('#pagination').html('');
                } else {
                    var headerHtml = "<tr>";
                    if (items[0].IDSV !== undefined) {
                        headerHtml += "<th scope='col'>STT</th>";
                        headerHtml += "<th scope='col'>Mã sinh viên</th>";
                        headerHtml += "<th scope='col'>Họ và tên</th>";
                        headerHtml += "<th scope='col'>Ngày sinh</th>";
                        headerHtml += "<th scope='col'>Số điện thoại</th>";
                        headerHtml += "<th scope='col'>CTĐT</th>";
                        headerHtml += "<th scope='col'>Lớp</th>";
                    } else if (items[0].IDCTDT !== undefined) {
                        headerHtml += "<th scope='col'>STT</th>";
                        headerHtml += "<th scope='col'>Tên CTĐT</th>";
                        headerHtml += "<th scope='col'>Tên khoa</th>";
                    } else if (items[0].IDCBVC !== undefined && items[0].MaDonVi !== undefined) {
                        headerHtml += "<th scope='col'>STT</th>";
                        headerHtml += "<th scope='col'>Mã CBVC</th>";
                        headerHtml += "<th scope='col'>Tên CBVC</th>";
                        headerHtml += "<th scope='col'>Ngày sinh</th>";
                        headerHtml += "<th scope='col'>Email</th>";
                        headerHtml += "<th scope='col'>Đơn vị</th>";
                        headerHtml += "<th scope='col'>Chương trình đào tạo</th>";
                        headerHtml += "<th scope='col'>Chức vụ</th>";
                    }
                    headerHtml += "</tr>";
                    $('#table-header').html(headerHtml);

                    for (let i = 0; i < items.length; i++) {
                        var index = (pageNumber - 1) * 10 + i + 1;
                        html += "<tr>";
                        if (items[i].IDSV !== undefined) {
                            html += "<td>" + index + "</td>";
                            html += "<td>" + items[i].MSSV + "</td>";
                            html += "<td>" + items[i].Hoten + "</td>";
                            html += "<td>" + items[i].NgaySinh + "</td>";
                            html += "<td>" + items[i].SDT + "</td>";
                            html += "<td>" + items[i].CTDT + "</td>";
                            html += "<td>" + items[i].Lop + "</td>";
                        } else if (items[i].IDCTDT !== undefined) {
                            html += "<td>" + index + "</td>";
                            html += "<td>" + items[i].TenCTDT + "</td>";
                            html += "<td>" + items[i].Tenkhoa + "</td>";
                        } else if (items[i].IDCBVC !== undefined) {
                            html += "<td>" + index + "</td>";
                            html += "<td>" + items[i].MaCBVC + "</td>";
                            html += "<td>" + items[i].TenCBVC + "</td>";
                            html += "<td>" + items[i].NgaySinh + "</td>";
                            html += "<td>" + items[i].Email + "</td>";
                            html += "<td>" + items[i].DonVi + "</td>";
                            html += "<td>" + items[i].ChuongTrinh + "</td>";
                            html += "<td>" + items[i].ChucVu + "</td>";
                        }
                        html += "</tr>";
                    }
                    renderPagination(pageNumber, totalPages);
                }
                $('#showdata').html(html);
                $('#data-table-section').show();
            },
            error: function () {
                var html = "<tr><td colspan='7' class='text-center'>Không thể tải dữ liệu</td></tr>";
                $('#showdata').html(html);
                $('#data-table-section').show();
            }
        });
    }

    function renderPagination(currentPage, totalPages) {
        if (totalPages === 0) {
            return;
        }
        var html = '<nav aria-label="Page navigation example"><ul class="pagination justify-content-end">';

        var startPage = currentPage - 2;
        var endPage = currentPage + 2;

        if (startPage < 1) {
            startPage = 1;
            endPage = 5;
        }

        if (endPage > totalPages) {
            endPage = totalPages;
            startPage = totalPages - 4;
        }

        if (startPage < 1) {
            startPage = 1;
        }

        html += '<li class="page-item ' + (currentPage == 1 ? 'disabled' : '') + '"><a class="page-link" href="#" data-page="' + (currentPage - 1) + '">Trước</a></li>';

        for (var i = startPage; i <= endPage; i++) {
            html += '<li class="page-item ' + (currentPage == i ? 'active' : '') + '"><a class="page-link" href="#" data-page="' + i + '">' + i + '</a></li>';
        }

        html += '<li class="page-item ' + (currentPage == totalPages ? 'disabled' : '') + '"><a class="page-link" href="#" data-page="' + (currentPage + 1) + '">Tiếp</a></li>';
        html += '</ul></nav>';

        $('#pagination').html(html);
    }
</script>

