@model UserInfoViewModel

@{
    ViewBag.Title = "Trung tâm Đảm Bảo Chất Lượng - Trường Đại Học Thủ Dầu Một";
}
<h2>User Information</h2>

<div>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Provider:</strong> @Model.Provider</p>
</div>
<div style="padding-top: 50px; padding-bottom: 70px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 columns">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <h2 class="section-title">DANH SÁCH CHỨC NĂNG</h2>
                    </div>
                    <div id="showdata" class="row justify-content-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        LoadData();
    });

    function LoadData() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/Home/LoadHeDaoTao', true);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    var contentType = xhr.getResponseHeader("Content-Type");
                    if (contentType && contentType.indexOf("application/json") !== -1) {
                        var res = JSON.parse(xhr.responseText);
                        var items = res.data;
                        var html = "";

                        if (items.length === 0) {
                            html += "<div class='col-lg-12 survey-item'>";
                            html += "<div class='card survey-card border-0'>";
                            html += "<div class='card-body'>";
                            html += "<h5 class='card-title text-center'>Không có dữ liệu.</h5>";
                            html += "</div>";
                            html += "</div>";
                            html += "</div>";
                        } else {
                            for (let i = 0; i < items.length; i++) {
                                html += "<div class='col-sm-6 mb-4'>";
                                html += "<div class='card feature-card'>";
                                html += "<div class='card-body'>";
                                html += "<a href='#' class='feature-icon'>";
                                html += "<i class='fa fa-check-square-o' aria-hidden='true'></i>";
                                html += "</a>";
                                html += "<h5 class='card-title'>KHẢO SÁT CÁC BÊN LIÊN QUAN - <span style='color: #a604f6;'>HỆ ĐÀO TẠO " + items[i].TenHDT + "</span></h5>";
                                html += "<p class='card-text'>Khảo sát ý kiến, đánh giá, góp ý của Cán Bộ Viên Chức Giảng viên, Sinh viên, Cựu Sinh Viên, Doanh Nghiệp,...</p>";
                                html += "<a href='/Home/PhieuKhaoSat?id=" + items[i].MaHDT + "'>";
                                html += "<button class='btn btn-primary'>Đi đến</button>";
                                html += "</a>";
                                html += "</div>";
                                html += "</div>";
                                html += "</div>";
                            }
                        }
                        document.getElementById('showdata').innerHTML = html;
                    } else {
                        console.error('Unexpected content type: ' + contentType);
                    }
                } else {
                    console.error('Error loading data: ' + xhr.status);
                }
            }
        };

        xhr.onerror = function () {
            console.error('Request error...');
        };

        xhr.send();
    }
</script>

