@using CTDT.Helper

@{
    ViewBag.Title = "Trung tâm Đảm Bảo Chất Lượng - Trường Đại Học Thủ Dầu Một";
    var isAuthenticated = SessionHelper.IsUserLoggedIn();
}

<div style="padding-top: 50px; padding-bottom: 70px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 columns">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <h2 class="section-title">
                            DANH SÁCH PHIẾU KHẢO SÁT - HỆ ĐÀO TẠO
                        </h2>
                    </div>
                    <div id="showdata" class="row justify-content-center">
                        <!-- Dữ liệu sẽ được thêm vào đây -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    var isAuthenticated = @Html.Raw(Json.Encode(isAuthenticated));

    $(document).ready(function () {
        LoadData();
    });

    function LoadData() {
        $.ajax({
            url: '/Home/LoadPhieuKhaoSat?id=' + @ViewBag.id,
            type: 'GET',
            success: function (res) {
                var items = res.data;
                var html = "";

                if (items.length === 0) {
                    html += "<div class='col-lg-12 survey-item'>";
                    html += "<div class='card survey-card border-0'>";
                    html += "<div class='card-body'>";
                    html += "<h5 class='card-title text-center'>Không có dữ liệu.</h5>";
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";
                } else {
                    for (let i = 0; i < items.length; i++) {
                        var maxChars = 400;
                        var truncatedText = items[i].MoTaPhieu.length > maxChars ? items[i].MoTaPhieu.substring(0, maxChars) + '...' : items[i].MoTaPhieu;
                        html += "<div class='col-sm-6 mb-4'>";
                        html += "<div class='card feature-card'>";
                        html += "<div class='card-body'>";
                        html += "<a href='#' class='feature-icon'>";
                        html += "<i class='fa fa-check-square-o' aria-hidden='true'></i>";
                        html += "</a>";
                        html += "<h5 class='card-title'>" + items[i].TenPKS + "</h5>";
                        html += "<p class='card-text'>" + truncatedText + "</p>";
                        if (items[i].TenLoaiKhaoSat == "DOANH NGHIỆP") {
                            html += "<button class='btn btn-primary' onclick='window.location=\"/Home/XacThucCTDT?id=" + items[i].MaPhieu + "\"'>Thực hiện khảo sát</button>";
                        } else if (items[i].TenLoaiKhaoSat == "CỰU SINH VIÊN") {
                            html += "<button class='btn btn-primary' onclick='window.location=\"/Home/XacThuc?id=" + items[i].MaPhieu + "\"'>Thực hiện khảo sát</button>";
                        }  
                        html += "</div>";
                        html += "</div>";
                        html += "</div>";
                    }
                }
                $('#showdata').html(html);
            }
        });
    }

    function handleSurveyClick(url) {
        if (isAuthenticated) {
            window.location.href = url;
        } else {
            Swal.fire({
                icon: 'warning',
                title: 'Bạn chưa đăng nhập',
                text: 'Vui lòng đăng nhập để thực hiện khảo sát',
                confirmButtonText: 'Đăng nhập'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('externalLoginForm').submit();
                }
            });
        }
    }
</script>

<form id="externalLoginForm" action="@Url.Action("ExternalLogin", "Login")" method="post" class="form-horizontal" role="form" style="display: none;">
    @Html.AntiForgeryToken()
    <input type="hidden" name="provider" value="Google" />
</form>
